/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
header, header .side-nav li, header .side-nav li > a{
  padding: 0;
}
header .side-nav .collapsible-header{
  margin: 0;
}
header nav{
  background-color: #424242;
  color: black;
  /*box-shadow: none;*/
}
header .side-nav li:hover, header .side-nav li.active {
  background-color: #616161;
}
header, main{
  padding-left: 200px;
}
@media only screen and (max-width: 992px){
header, main {
  padding-left: 0;
}
}
#logo-container{
  height: 56px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, header .side-nav a, header .side-nav .material-icons{
  height: 56px;
  line-height: 56px;
}
@media only screen and (max-width: 992px){
  header nav .brand-logo {
    left: 40%;
    font-size: 1.4em ;
  }
}
/*#hd nav .divider{*/
  /*border-left: 20px solid transparent;*/
  /*border-right: 20px solid transparent;*/
  /*border-top: 20px solid #f00;*/
/*}*/
/*@media only screen and (min-width: 601px){*/
  /*#hd .brand-logo {*/
    /*position: relative;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
  /*}*/
/*}*/
/*#hd nav ul > li, #hd nav ul > li > a{*/
  /*width: 100%;*/
/*}*/
.icon-block .material-icons {
	font-size: inherit;
}


/**slick styling */
.slick-slider .slick-dots li {
    height: auto;
    width: auto
}

.slick-slider .slick-dots li.slick-active button {
    background: #000!important
}

.slick-slider .slick-dots li button {
    width: 14px!important;
    height: 14px!important;
    background: #999!important;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}
.slideshow img{
  max-width:100%;
}
.brand-logo{
  text-transform: uppercase;
}
.action-label{
  padding: 0 15px 0 0;
}

.button-collapse{
    margin-right: 180px;
  }
.summary-txt{
  text-align: justify;
}
.summary-txt:before{
  content: " ";
  width: 1em;
  display: inline-block;
}
